.carousel-container {
    width: 100%;
    height: auto;
}

.carousel-container-images {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.arrow-left {
    position: relative;
    bottom: 3rem;
    left: 2rem;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.arrow-left:hover{
    scale: 1.12;
}

.arrow-right {
    position: relative;
    bottom: 3rem;
    right: 2rem;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.arrow-right:hover{
 scale: 1.12;
}

@keyframes small-to-big {
    0% {scale: 1;}
    50% {scale: .9;}
    100% {scale: 1;}
  }

.vs-img{
    scale: .9;
    animation-name: small-to-big;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.circle{
    position: absolute;
    margin: 0 auto;
    display: grid;
    place-items: center;
    top:20.5%;
    animation-name: small-to-big;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.circle2{
    position: absolute;
    margin: 0 auto;
    display: grid;
    place-items: center;
    top:20.5%;
    animation-name: small-to-big;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@media only screen and (max-width:1024px)  {
.carousel-images.vs-img{
        width: 300px;
        height: auto;
    }

    .arrow-left, .arrow-right {
        width: 80px;
        height: auto;
    }

    .circle{
        width: 270px;
        height: auto;
        margin: 0 auto;
        padding-right: 3.5rem;
    }
    .circle2{
        width: 270px;
        height: auto;
        margin: 0 auto;
        padding-right: 3.5rem;
    }
}