.navbar{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15vw;
}

.navbar-link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    column-gap: 4rem;
}

.navbar-link-item{
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Nunito Black";
    font-weight: bolder;
    color: #000;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.navbar-link-item:nth-child(2) > .box-item-nav{
    width: max-content;
}

.navbar-link-item:nth-child(3) > .box-item-nav{
    width: max-content;
}

.navbar-link-item:hover{
    font-size: 1.6rem;
    color:#003595;
}