.navbar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    column-gap: 4rem;
}

.navbar-link-item{
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: .5s ease-in-out;
}

.navbar-link-item:nth-child(2) > .box-item-nav{
    width: max-content;
}

.navbar-link-item:nth-child(3) > .box-item-nav{
    width: max-content;
}

.navbar-link-item:hover{
    font-size: 1.7rem;
    color:#003595;
}

.left-dot-img{
    margin-right: 2rem;
}

.right-dot-img{
    transform: rotate(180deg);
    margin-left: 5rem;
}