.box-item-nav{
    background-color: #fff;
    padding: .7rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    width: 270px;
    height: 40px;
    border-radius: 20px;
    border: 7px solid #00acec;
    box-shadow: inset -7px -2px #000, inset -7px 2px #000;
    transition: .3s ease-in-out;
    overflow: hidden;
}

.box-item-nav:hover{
    box-shadow: inset -7px -2px #000, inset -7px 2px #000, inset -8px 3px 8px #555a, 2px 3px #555a, -2px -3px #555a;
}