section.calendar-sur {
    background-image: url("/src/images/fondo-agenda-sur.png");
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5rem;
    border-bottom: 10px solid #000;
}

.calendar-sur>h2.calendar-title {
    margin-top: 4vw;
    -webkit-text-stroke: 4px #0c6893;
    text-shadow: 1px 1px #0c6893, -1px -1px #0c6893;
    color: #fff;
    font-size: 5rem;
    font-family: "Fontps";

}

.calendar-sur>h3.calendar-subtitle {
    font-family: "Fontps";
    color: #fff;
    font-size: 5rem;
    -webkit-text-stroke: 1px #372971;
    margin: .2rem auto;
}

.calendar-sur.content {
    width: 80%;
    height: auto;
    margin: 1rem auto;
    border-top: 3px solid #000;

}

.calendar-sur.test-img-agenda {
    width: 100%;
    height: auto;
}

@media only screen and (max-width:1024px) {
    section.calendar-sur{
        height: auto;
        min-height: 0;
    }


    .calendar-sur>h2.calendar-title {
        font-size: 3.2vw;
        margin-top: 4vh;
        -webkit-text-stroke: 1px #0c6893;
        text-shadow: 1px 1px #0c6893, -1px -1px #0c6893;
    }

    .calendar-sur>h3.calendar-subtitle {
        font-family: "Fontps";
        font-size: 1.3rem;
        margin: .2rem auto;
    }
}