.form-section-sur {
    background-image: url("/src/images/fondo-formularios.png");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.line-divider {
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #000;
}

.form-section.title {
    font-family: "Fontps";
    color: #fff;
    text-shadow: 9px 9px #000;
    font-size: 3.8rem;
    padding: 1rem 0 0 0;
    line-height: 4.5rem;
    margin: 3rem 0 1rem 0;
}

.form-section.subtitle {
    font-family: "Nunito Black";
    color: #fff;
    text-shadow: 5px 5px #000;
    font-size: 3rem;
    margin: 0 auto;
}

@media (max-width:1024px) {
    .form-section.title {
        font-size: 2rem !important;
        text-shadow: 3px 3px #000 !important;
        padding: 1rem 1rem 0 1rem !important;
        line-height: 2.7rem !important;
        margin: 3rem 0 1rem 0 !important;
    }

    .form-section.subtitle {
        text-shadow: 3px 3px #000 !important;
        padding: 1rem 1rem 0 1rem !important;
        font-size: 2rem !important;
        margin: 0 auto !important;
    }
}