section.video-sur{
    width: 100%;
    background-color: #fff;
    position: relative;
    height: 100vh;
}

h2.video-sur.title{
    font-family: "Fontps";
    color: #000;
    text-shadow: 2px 2px #0c6893, -2px -2px #0c6893;
    font-size: 5rem;
    letter-spacing: 3px;
}

div.video-sur.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;
}

div.video-sur.content-left{
    height: 100%;
    width: 100%;
    position: relative;
}

div.video-sur.content-left > video{
    width: 50vw;
    height: 50vh;
    max-width: 600px;
    border-radius: 25px;
    border: 6px solid #000;
    position: relative;
    z-index: 10;
    background-color: #000;
}

div.video-sur.content-left > img.video-sur.cloud-img-left{
    position: absolute;
    top:-50%;
    left: 0;
    z-index: 1;
}

div.video-sur.content-right{
    height: 100%;
    width: 100%;
    position: relative;
}

div.video-sur.content-right > img.video-sur.cloud-img-right{
    position: absolute;
    bottom: -250px;
    transform: rotateY(180deg);
    left: 5vw;
}

div.video-sur.content-right > video{
    width: 50vw;
    height: 50vh;
    max-width: 600px;
    border-radius: 25px;
    border: 6px solid #000;
    position: relative;
    z-index: 1;
    background-color: #000;
}

@media only screen and (max-width:1024px) {
    section.video-sur{
        margin-bottom: 5rem;
        height: auto;
    }

    h2.video-sur.title{
        font-size: 10vw;
        margin: 0;
        margin-top: 2rem;
        padding: 0 1rem;
    }

    div.video-sur.container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        position: relative;
        padding: 0 ;
        row-gap: 5rem;
    }

    div.video-sur.content-right, div.video-sur.content-left{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div.video-sur.content-left > video{
        width: 60vw;
        height: 57vw;
        margin-top: 0;
    }

    div.video-sur.content-right > video{
        width: 60vw;
        height: 57vw;
        margin-bottom:0;
    }

    div.video-sur.content-left > img.video-sur.cloud-img-left{
        position: relative;
        left: -10vw;
        z-index: 1;
        bottom: -10vh;
        height: auto;
        width: 50%;
    }

    div.video-sur.content-right > img.video-sur.cloud-img-right{
        position: relative;
        z-index: 1;
        transform: rotateY(180deg);
        height: auto;
        width: 50%;
        bottom: 0;
    }
}