section.calendar-vc{
    background-image: url("/src/images/fondo-agenda-vc.png");
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5rem;
    border-bottom: 10px solid #000;
}

.calendar-vc > h2.calendar-title{
    margin-top: 5vw;
    -webkit-text-stroke: 4px #661d76;
    text-shadow: 2px 2px #661d76, -2px -2px #661d76;
    color: #fff;
    font-size: 5rem;
    font-family: "Nunito Black";
    
}

.calendar-vc > h3.calendar-subtitle{
    font-family: "Fontps";
    color: #fff;
    font-size: 5rem;
    -webkit-text-stroke: 1px #372971;
    margin: .2rem auto;
}

.calendar-vc.content{
    width: 80%;
    height: auto;
    margin: 1rem auto;
    border-top: 3px solid #000;

}

.calendar-vc.test-img-agenda{
    width: 100%;
    height: auto;
}

@media only screen and (max-width:1024px) {
    .calendar-vc > h2.calendar-title {
        font-size: 2rem;
        margin-top: 1.8rem;
        -webkit-text-stroke: 1px #661d76;
        text-shadow: 1px 1px #661d76, -1px -1px #661d76;
    }

    .calendar-vc > h3.calendar-subtitle {
        font-family: "Fontps";
        font-size: 1.5rem;
        margin: .2rem auto;
    }
}